<div class="projects-cards font-regular">
    <div class="project-card text-center">
        <a href="https://pokedex-with-angular.netlify.app/" target="_blank">
            <h1 class="font-medium">Pokedex</h1>
            <img src="/assets/images/projects/pokedex-screenshot.png" alt="">
        </a>
    </div>
    <div class="project-card text-center">
        <a href="https://tic-tac-toe-with-angular.netlify.app/" target="_blank">
            <h1 class="font-medium">Tic Tac Toe</h1>
            <img src="/assets/images/projects/tic-tac-toe-screenshot.png" alt="">
        </a>
    </div>
    <div class="project-card text-center">
        <h1 class="font-medium">Comming soon</h1>
    </div>
</div>
