<header id="header" class="p-10 bg-white flex justify-between items-center sticky top-0">
    <a routerLink="/" class="header-title font-header-logo">
      <img src="../assets/images/portfolio-logo.png" alt="AP stands for Alexandros Pappas">
    </a>
    <nav class="flex gap-4">
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/" class="font-light">Home</a>
      <a routerLinkActive="active" routerLink="/About" class="font-light">About</a>
      <a routerLink="/Contact" id="contact-btn" class="font-light bg-black text-slate-50 pt-2 pb-2 pr-4 pl-4">Contact</a>
    </nav>
</header>
<div class="container m-auto">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>