<h1 class="font-semibold text-2xl p-10">
    Hello there! I'm Alexandros Pappas, your friendly neighborhood Software Engineer, crafting wonders in the world of code! 🚀 Let's embark on a journey of innovation together!
</h1>
<div class="columns-1 lg:columns-3 p-10">
    <img class="w-full object-cover" src="../../assets/images/two-people-working.jpg" alt="two people sitting at their desks and chairs and working, the first one is wearing a gray shirt and the other one is wearing a blue one">
    <img class="w-full mt-2 mb-2 object-cover" src="../../assets/images//imac.jpg" alt="an iMac at a desk with low light displaing some lines of code">
    <img class="w-full mt-2 mb-2 object-cover" src="../../assets/images/mac-on-desktop.jpg" alt="a Mac at a desk displaing some lines of code">
</div>
<p class="font-regular text-xl p-10">
    "Hey there! I'm Alexandros Pappas, the friendly neighborhood Software Engineer introduced earlier. My passion for programming fuels my journey as a dedicated student at Athens University of Economics and Business. I thrive on exploring new technologies, transforming challenges into opportunities for growth. <br> <br>
    I firmly believe in continuous improvement. My dedication lies in refining my skills and collaborating within the vibrant coding    community. This isn't just a profession; it's a relentless pursuit marked by creativity, teamwork, and an unwavering love for the  art of software engineering. Together, let's craft innovations and build extraordinary things in the world of code! 💻✨"
</p>
<h1 class="font-semibold text-2xl p-10">Here are some of the technologies that I use: </h1>
<div class="tech-img p-10">
    <img class="w-full" src="../../assets/images/tech-img/JavaScript-logo.png" alt="JavaScript logo">
    <img class="w-full" src="../../assets/images/tech-img/Typescript_logo_2020.png" alt="Typescript logo">
    <img class="w-full" src="../../assets/images/tech-img/Angular_full_color_logo.png" alt="Angular logo">
    <img class="w-full" src="../../assets/images/tech-img/Microsoft_.NET_logo.svg.png" alt=".Net logo">
    <img class="w-full" src="../../assets/images/tech-img/Git-Icon.png" alt="git logo">
    <img class="w-full" src="../../assets/images/tech-img/CSS3_logo_and_wordmark.svg.png" alt="CSS logo">
    <img class="w-full" src="../../assets/images/tech-img/Bootstrap_logo.svg.png" alt="Bootstrap logo">
    <img class="w-full" src="../../assets/images/tech-img/tailwind.png" alt="tailwind logo">
    <img class="w-full" src="../../assets/images/tech-img/jQuery.png" alt="jQuery logo">
</div>