.tech-img{
    display: flex;
    gap: 2rem;
    overflow-x: auto;
}
.tech-img img{
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
}
@media(width > 768px){
    .tech-img{
        justify-content: center;
        /* padding: 0; */
    }
}